<div class="mytoolbar">
  <div class="mytoolbartitle">
    Overlay
    <div>
      <a mat-list-item [routerLink]="['/pageoverlay1']">
        <span>demo overlay-1</span>
      </a>  
    </div>
    <div>
      <a mat-list-item [routerLink]="['/pageoverlay2']">
        <span>demo overlay-2</span>
      </a>  
    </div>
    <div>
        <a mat-list-item [routerLink]="['/pagesubject']">
          <span>demo subject</span>
        </a>  
      </div>
  </div>  
</div>
<div>
  <router-outlet></router-outlet>
</div>
